.App {
  text-align: center;
}
.home{
  position: absolute;
  background-color: rgb(255, 162, 153);
  height: 10vh;
  width: 25%;
  text-align: center;
  margin-left: 40%;
  font-size: 5vh;
  font-weight: 600;

}
.home-bottom {
  position: absolute;
  background-color: rgb(255, 162, 153);
  height: 50vh;
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5vh;
  font-weight: 600;
  
  
}
.home-bottom a{
  text-decoration: none;
  color: black;
}
.home-bottom >div{
  border: 2px solid black;
  padding: 5%;  
  box-shadow: 6px 11px 11px grey;
}
.home-bottom >div:hover {
  background-color: black;
  
}
.home-bottom a:hover{
  text-decoration: none;
  color: rgb(255, 162, 153);
}